.controls-wrap
  bottom: 0
  overflow: hidden
  position: absolute
  width: 100%
  z-index: 1

.progress
  background-color: white
  height: grid-line-em(0.25)

.progress-bar
  background-color: dw-yellow
  display: block
  height: 100%
  width: 0

.current-track
  background-color: black
  color: white
  height: grid-line-em(2)
  overflow: hidden

  .current-track-label
  .track-cover
  .track-info
    float: left

  .track-cover
    grid-line-margin(0 0.25 0 0)
    position: relative

  .current-buttons
    float: right

.current-track-label
  display: block
  height: 100%
  line-height: grid-line-em(2)
  grid-line-padding(0 1)

.track-info
  .track-name
  .track-artist
    padding: 0

.current-buttons
  float: right
  height: 100%
  line-height: grid-line-em(2)
  grid-line-padding(0 1)

  .track-votes
    grid-line-padding(0 0.5)

  .button
    color: white
