.panel-labels
  background: #8CA0D7
  color: white
  height: grid-line-em(1.5)
  line-height: grid-line-em(1.5)
  position: absolute
  width: 100%
  text-align: center
  top: grid-line-em(2.5)
  width: 100%

  & > li
    display: none

    &.panel-label-focus
      display: block

  .icon
    color: dw-dark-grey

.panel
  box-sizing: border-box
  display: none
  height: 100%
  grid-line-padding(4 0 2.25)
  position: relative
  width: 100%
  z-index: 0

.panel-focus
  display: block
