.panel-labels
  background: black
  color: white
  height: grid-line-em(1.5)
  line-height: grid-line-em(1.5)
  position: absolute
  width: 100%
  text-align: center
  top: grid-line-em(2.5)
  width: 100%

  .icon
    color: dw-dark-grey

.panel
  box-sizing: border-box
  height: 100%
  grid-line-padding(3 0)
  position: relative
  width: 100%
  z-index: 0

// Hide results on mobile first
li.panel-label-results
  display: none
.panel-results
  display: none
