@import "type-utils"
@import "grid"

// tiny
tiny-size = 11
tiny-lines = 1 / 2
tiny()
  grid-font-size(tiny-size)
  grid-line-height(tiny-lines, tiny-size)

// small
small-size = 13
small-lines = 3 / 4
small()
  grid-font-size(small-size)
  grid-line-height(small-lines, small-size)

// normal
normal-size = font-size
normal-lines = 1
normal()
  grid-font-size(normal-size)
  grid-line-height(normal-lines, normal-size)

// large
large-size = 26
large-lines = 1.5
large()
  grid-font-size(large-size)
  grid-line-height(large-lines, large-size)

// huge
huge-size = 42
huge-lines = 2
huge()
  grid-font-size(huge-size)
  grid-line-height(huge-lines, huge-size)

// massive
massive-size = 72
massive-lines = 4
massive()
  grid-font-size(massive-size)
  grid-line-height(massive-lines, massive-size)

// gigantic
gigantic-size = 110
gigantic-lines = 5
gigantic()
  grid-font-size(gigantic-size)
  grid-line-height(gigantic-lines, gigantic-size)

@import "nib"
@import "normalize"
@import "defaults"
@import "simple-icons"

.pull-left
  float left
.pull-right
  float right
